.budget-chart-card {
  border-radius: 16px;
      margin-left: 13px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

.card-header {
 background-color: #f7f7f7;
  border-bottom: none;
  padding: 14px 16px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.card-body {
  padding: 16px;
}

.btn-light {
  border-radius: 8px;
  font-size: 12px;
  background: #f9fafb;
}
