<div class="dashboard-tabs" >

  <!-- Tabs bar -->
  <div class="tabs-bar">

    <div class="tabs-scroll">
      <button
        *ngFor="let tab of tabs; trackBy: trackById"
        type="button"
        class="tab-pill"
        [ngClass]="{ active: tab.active }"
        (click)="setActive(tab)"
      >
        <span class="tab-label">{{ tab.label }}</span>

        <span
          class="close-btn"
          (click)="removeTab(tab, $event)"
        >
          ×
        </span>
      
      </button>
    </div>

    <button class="add-tab-btn" (click)="addTab()">+</button>
  </div>

</div>

<div class="tab-content-wrapper container-fluid " >

  <!-- Normal tab -->
  <ng-template #normalTab>
    <div class="row">
      <div class="col-12">
        <div class="tab-content-card p-3">
          <h5 class="tab-title">{{ activeTab?.label }}</h5>
          <p class="tab-content-text">
            {{ activeTab?.content }}
          </p>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Dashboard tab -->
  <ng-container *ngIf="activeTab?.id === 1; else normalTab">

    <div class="row g-3">

      <!-- Stats -->
      <div class="col-12">
  <div class="tab-content-card p-3">

    <!-- ROW: Stats -->
    <div class="row">
      <div class="col-12">
        <app-stats-card [statsCards]="statsCards"></app-stats-card>
      </div>
    </div>

    <!-- ROW: Orders table -->
    <div class="row mt-3">
      <div class="col-12">
        <app-orders-table></app-orders-table>
      </div>
    </div>

    <!-- ROW: Charts -->
    <div class="row mt-3">
      <!-- Budget chart -->
      <div class="col-12 col-lg-6 pt-2">
       
          <app-budget-chart></app-budget-chart>
        
      </div>

      <!-- Contracts -->
      <div class="col-12 col-lg-6 pt-2">
      
          <app-purchase-status></app-purchase-status>
        
      </div>
    </div>

     <div class="row mt-3">
      <!-- Budget chart -->
      <div class="col-12 col-lg-6 pt-2">
       
          <app-warehouses></app-warehouses>
        
      </div>

      <!-- Contracts -->
      <div class="col-12 col-lg-6 pt-2">
      
          <app-recent-transactions></app-recent-transactions>
        
      </div>
    </div>

  </div>
</div>



    </div>

  </ng-container>

</div>