*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: "Frutiger LT Arabic";



}

.app-body {
    background-color: #f5f5f5;
}


.aside{
    margin: 10px!important;
}
.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

/* Sidebar */
.app-sidebar {
  width: auto;
  flex-shrink: 0;
  background: #fff;
//   border-left: 1px solid #e5e7eb;
border-radius: 14px;
margin: 9px!important;
border: 1px solid #e5e7eb;
  transition: width 0.3s ease;
}

/* Main content */
.app-main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: auto;
}

/* Scroll only content */
.app-content {
  flex: 1;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
.app-sidebar {
  width: min-content!important;
    
}
}